* {
    margin: 0px;
    padding: 0px;
}

nav {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
}

.div_icon_location {
    border-radius: 5px;
}

.icon_location {
    width: 35px;
}

h1 {
    font-size: bold;
    color: black;
    font-size: x-large;
}

.div_sistema-atv {
    background-color: #c3fcbe;
    border-color: rgb(29, 97, 38);
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    padding-inline: 10px;
    height: 30px;
}

.sistema-atv {
    color: rgb(21 128 61);
    font-weight: 600;
}

.subtitulo {
    color: rgb(75 85 99);
}

.p-subtitulo {
    color: rgb(75 85 99);
    text-align: center;
    max-width: 700px;
    font-weight: 500;
}

.bg-gradient {
    background: linear-gradient(to right, #ffffff, #ffb6b6) !important;
}

.img-grafico-setor {
    width: 540px;
    height: 360px;
    border-radius: 10px;
}

footer {
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
    background-color: rgb(246, 244, 255);
    color: #4b5563;
    font-weight: 400
}