<nav class="d-flex justify-content-between align-items-center shadow-sm">
    <div class="d-flex align-items-center ms-5 gap-2">
        <div class="div_icon_location p-1" style="background-color: #2563eb;">
            <img class="icon_location" src="assets\images\location_on.png" alt="">
        </div>
        <div>
            <h1>Saúde Alerta</h1>
            <p class="subtitulo">Monitoramento de Doenças por Região</p>
        </div>
    </div>
    <div class="d-flex align-items-center div_sistema-atv me-5">
        <p class="sistema-atv">
            Sistema ativo
        </p>
    </div>
</nav>
<section class="pt-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Monitore a Saúde da Sua Região</h2>
        <p class="p-subtitulo mt-3">Receba notificações em tempo real sobre surtos de doenças no seu bairro e mantenha-se informado sobre a situação epidemiológica da sua cidade.</p>
    </div>
</section>
<section class="pt-4 d-flex gap-3 container-fluid align-items-center justify-content-center">
    
    <!--gráfico 1-->
    <div style="background-color: bisque; border-radius: 10px;" class="d-flex gap-3 p-3 flex-wrap justify-content-center container">
        <div>
            <img class="img-grafico-setor" src="assets\images\Números de pessoas por bairro - gráfico de setor-09_06_2025, 10_20_21.png" alt="">
        </div>
        
        <!--gráfico 2-->
        <div>
            <img class="img-grafico-setor" src="assets\images\Atendimentos por cidade-10_06_2025, 12_33_21.png" alt="">
        </div>
        <div>
            <img class="img-grafico-setor" src="assets\images\Atendimentos por cidade-10_06_2025, 12_33_21.png" alt="">
        </div>
        <div>
            <img class="img-grafico-setor" src="assets\images\Atendimentos por cidade-10_06_2025, 12_33_21.png" alt="">
        </div>
    </div>

</section>